.container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 14px;
    align-items: center;
    .social{
        display: flex;
        align-items: center;
        gap: 10px;

        .icon{
            opacity: 0.6;
            cursor: pointer;
        }
    }
}